.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--horizontal-space);
    margin-bottom: 15px;
    width: 100%;
    position: fixed;
    top: 46px;
    box-sizing: border-box;
}
.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 25px;
}
.screen-header__icons-cog {
    position: relative;
}
.screen-header__icons {
    display: flex;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-cog:hover {
    animation: rotateCog 1s linear infinite;
}